@use '../../utils' as *;


.header-bar {
	font-size: 25px;
	color: #fff;
    &-black{
        color: #000;
        margin-right: 20px;
    }
    &:hover{
        color: #000;
    }
}
.header-nav{
    justify-content: end;
}

.offcanvas-menu {
    margin-bottom: 30px;
    @media #{$xs}{
      width: 100%;
    }
    & ul{
        & li{
            position: relative;
            padding: 5px 0;
            transition: .4s;
            list-style: none;
            &:hover > a::before{
                width: 100%;
                left: 0;
                right: auto;
            }
              & a{
                color: #000;
                font-size: 18px;
                position: relative;
                    &::before{
                        position: absolute;
                        content: "";
                        width: 0;
                        height: 2px;
                        background-color: #000;
                        border-radius: 10px;
                        bottom: 0;
                        left: auto;
                        z-index: 1;
                        @include transition(.4s);
                        right: 0;
                    }
              }
        }

    }
      
  }
  .menu-close {
	position: absolute;
	right: 10px;
	top: 3px;
	border: 1px solid #ddd;
	height: 30px;
	width: 30px;
    & i{
        font-size: 15px;
    }
}


.mobail-menu{
    display: none;
    @media #{$xs,$sm,$md,$lg}{
        display: block;
    }
    &-bar {
        & button{
            border: 1px solid #ddd;
            padding: 10px;
            border-radius: 12px;
            line-height: 5px;
            background-color: var(--tp-theme-color);
            @include transition(.4s);
            & i{
                font-size: 30px;
                line-height: 1;
                color:var( --tp-common-green);
                @include transition(.4s);
                
    
            }
            &:hover{
                background-color:var(--tp-common-green);
                border-color: transparent;
                & i{
                    color: #fff;
                }
            }
        }
        &-trd{
            @media #{$md,$xs}{
                margin-right: 0;
            }
        }
    }
}
