@use '../utils' as *;

/*--
    - Margin & Padding
-----------------------------------------*/
/*-- Margin Top --*/
@for $i from 1 through 10 {
    .mt-#{5 * $i}{margin-top: 5px * $i;}
}
/*-- Margin Bottom --*/
@for $i from 1 through 50 {
    .mb-#{1 * $i}{margin-bottom: 1px *$i;}
}
/*-- Margin Left --*/
@for $i from 1 through 50 {
    .ml-#{1 * $i}{margin-left: 1px * $i;}
}

/*-- Margin Right --*/
@for $i from 1 through 50 {
    .mr-#{1 * $i}{margin-right: 1px *$i;}
}

/*-- Padding Top --*/
@for $i from 1 through 20 {
    .pt-#{5 * $i}{padding-top: 5px *$i;}
}

/*-- Padding Bottom --*/
@for $i from 1 through 20 {
    .pb-#{5 * $i}{padding-bottom: 5px *$i;}
}

/*-- Padding Left --*/
@for $i from 1 through 50 {
    .pl-#{1 * $i}{padding-left: 1px *$i;}
}

/*-- Padding Right --*/
@for $i from 1 through 50 {
    .pr-#{1 * $i}{padding-right: 1px *$i;}
}
