@use '../utils' as *;


.offcanvas {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999;
	width: 400px;
	height: 100%;
	background: #fff;
	padding: 50px 40px;
	opacity: 0;
	visibility: hidden;
	transform: translateX(100%);
	overflow-y: scroll;
	overscroll-behavior-y: contain;
	scrollbar-width: none;
    transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition-delay: 0s;
	z-index: 999;
    @media only screen and (max-width: 400px) {
        width: 100%;
        padding: 35px 30px;
    }
	&-open {
		opacity: 1;
		visibility: visible;
	    transform: translateX(0);
        transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transition-delay: 0.3s;
	}
	&-button {
		&-close{
			& i{
				font-size: 30px;
				transition: .5s;
				&:hover{
					color: #f5df4e;
					transform: rotate(-90deg);
				}
			}
		}
	}
	&-gulary {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	&-title {
		font-size: 25px;
	}
	&-cta{
		&-title {
			font-size: 30px;
		}
		& li{
			list-style: none;
			& span{
				font-size: 17px;
				color: #000;
				& i{
					margin-right: 6px;
				}
			}
			margin-bottom: 5px;
		}
	}
	&-social{
		& a{
			font-size: 20px;
			margin-right: 15px;
		}
	}
	&-header{
		padding: 0;
	}
}


.offcanvas-overlay {
	position: fixed;
	background-color: #000;
	width: 0;
	height: 100%;
	z-index: 99;
	top: 0;
	right: 0;
    transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition-delay: 0.3s;
}
 .offcanvas-overlay-open{
	opacity: .5;
	visibility: visible;
    width: 100%;
    transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition-delay: 0s;
}

.header-sidebar{
	&-btn{
		display: flex;
		flex-direction: column;
		gap: 5px;
		width: 40px;
		height: 40px;
		align-items: center;
		justify-content: center;
		padding-right: 10px;
		border-radius: 50px;
		background-color: #fff;
		&:hover{
			& span{
				animation: bar_anim 0.8s cubic-bezier(0.44, 1.1, 0.53, 0.99) 1 forwards;
				&:nth-child(2) {
					animation-delay: 0.1s;
				}
			}
		}
		& span{
			background: #000;
			width: 13px;
			margin: 0 0 0 auto;
			border-radius: 20px;
			height: 2px;
			display: inline-block;
			&:nth-child(2){
				width: 20px;
			}
		}
		&-bg{
			width: 36px;
			height: 36px;
			background: #000;
			border-radius: 50px;
			justify-content: center;
			padding-right: 9px;
			& span{
				background: #fff;
				&:nth-child(2){
					width: 18px;
				}
			}
			&-white{
				background: #fff;
				& span{
					background: #000;
				}
			}
		}
	}
}
@keyframes bar_anim {
	0%, 100% {
	  -webkit-clip-path: inset(-2px 0);
	  clip-path: inset(-2px 0);
	}
	42% {
	  -webkit-clip-path: inset(-2px 0 -2px 100%);
	  clip-path: inset(-2px 0 -2px 100%);
	}
	43% {
	  -webkit-clip-path: inset(-2px 100% -2px 0);
	  clip-path: inset(-2px 100% -2px 0);
	}
}

#sticky-bar{
	position: fixed;
    top: 10px;
    right: 30px;
    box-shadow: 0 3px 52px rgba(0, 0, 0, 0.3), 0 0px 12px rgba(0, 0, 0, 0.22);
	opacity: 0;
	visibility: hidden;
	@include transition(.6s);
}

#sticky-bar.sticky-bar-active {
	visibility: visible;
	opacity: 1;
	top: 30px;
}
