@use '../utils' as *;


.preloader span {
  font-size: 80px;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  overflow-x: hidden;
    @media #{$xs}{
       font-size: 50px;
    }
}
.site-name {
  background-color: #000;
}
.preloader-gutters {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: flex;
}
.preloader-overlay {
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  transform: translateX(-100%);
}
.preloader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  will-change: transform, opacity;
}
.site-name {
  width: 100%;
  height: 100%;
  text-align: center;
  align-content: center;
  position: absolute;
  top: 0;
  z-index: 9;
  left: 0;
}
.preloader-gutters .bar {
  width: 12.5%;
  height: 100%;
  background:transparent;
  position: relative;
}
.preloader-gutters .inner-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #fff;
}
