@use '../utils' as *;

.section{
    &-sub-title {
        display: inline-block;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 1px;
    }
    &-title{
        font-size: 50px;
        @media #{$lg}{
            font-size: 45px;
        }
        @media #{$md}{
            font-size: 40px;
        }
        @media #{$xs}{
            font-size: 30px;
        }
    }
}
