@use '../../utils' as *;



.cta-area.cta-spacing {
    padding: 160px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
h2.cta-title {
    font-size: 45px;
    color: #fff;
}
.cta-overlay{
    &::before{
        position: absolute;
        content: "";
        background-color: #000;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        opacity: .5;
    }
}