@use '../../utils' as *;

.hero{
    &-area {
        padding: 140px 0;
        @media #{$lg,$md}{
           padding-bottom: 100px;
        }
        @media #{$md}{
           padding-top: 120px;
        }
        @media #{$xs}{
           padding: 90px 0;
           padding-bottom: 70px;
        }
    }
    &-sub{
        &-title{
            font-size: 30px;
            text-transform: uppercase;
            display: block;
            @media #{$lg,$md}{
                font-size: 20px;
                margin-bottom: 10px;
            }
            @media #{$xs}{
                font-size: 20px;
                margin-bottom: 0;
            }
            @media #{$sm}{
                font-size: 22px;
                margin-bottom: 5px;
            }
        }
    }
    &-title{
        font-size: 65px;
        font-weight: 700;
        line-height: 1.1;
        @media #{$xl}{
            font-size: 55px;
        }
        @media #{$lg}{
            font-size: 45px;
        }
        @media #{$md}{
            font-size: 56px;
            margin-bottom: 15px;
        }
        @media #{$xs}{
            font-size: 35px;
            padding-bottom: 50px;
            margin: 0;
            line-height: 1;
        }
        @media #{$sm}{
            font-size: 44px;
            padding: 0;
            margin-bottom: 15px;
        }
    }
    &-content{
        @media #{$md}{
          margin-bottom: 30px;
        }
        @media #{$xs}{
          margin-bottom: 20px;
        }
        & p{
            font-size: 22px;
            font-family: var(--font-heading);
            font-weight: 500;
            @media #{$xs}{
                font-size: 15px;
            }
            @media #{$sm}{
                font-size: 20px;
            }
        }
    }
    &-text{
        &-btn{
            font-weight: 500;
            text-decoration: underline;
            & i{
                transform: translateY(1px);
            }
            &:hover{
                text-decoration: none;
            }
        }
    }
    &-thumb{
        margin-top: -50px;
        @media #{$xs}{
            margin-top: 30px;
            text-align: center !important;
        } 
        & img{
            background: #282828;
            border-radius: 50%;
            border: 15px solid #fff;
            width: 75%;
            filter: grayscale(90%);   
            box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
            @include transition(.4s); 
            &:hover{
                filter: none;
            }
            @media #{$xl}{
               width: 90%;
            }
            @media #{$lg}{
               width: 99%;
            }
            @media #{$md}{
               width: 60%;
            }
        }
    }
}






.hero-animate-content {
  display: flex;
  margin-right: -55px;
    @media #{$xs}{
        display: block;
    }
    @media #{$sm}{
        display: flex;
    }
}

.hero-words-container {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
}

.hero-word {
    position: absolute;
    left: 14px;
    overflow: hidden;
    font-size: 65px;
    line-height: 1.3;
    bottom: 13px;
    font-weight: 700;
        @media #{$xl}{
            font-size: 55px;
        }
        @media #{$lg}{
            font-size: 45px;
        }
        @media #{$md}{
            font-size: 56px;
            margin-bottom: -5px;
        }
        @media #{$xs}{
            font-size: 35px;
            display: flex;
            left: 0;
            transform: translate3d(0, 7px, 0); /* animation হলে */
        }
        @media #{$sm}{
            font-size: 44px;
            transform: translateY(0);
            bottom: 7px;
            left: 10px;
        }
}

