@use '../../utils' as *;

.skill{
    &-title {
        font-size: 30px;
        font-weight: 600;
        &-wrap{
            padding: 10px 20px;
            @media #{$lg}{
                padding-right: 0;
            }
            @media #{$md,$xs}{
               margin-bottom: 30px;
            }
            &::before{
                position: absolute;
                content: "";
                width: 3px;
                height: 100%;
                background-color: aqua;
                left: 0;
                top: 0;
            }
            & p{
                margin: 0;
            }
        }
    }
    &-main {
        display: flex;
        justify-content: space-between;
        @media #{$xs}{
           flex-wrap: wrap;
           justify-content: center;
        }
    }
    &-progress{
        height: 3px;
        background-color: #000;
        & .progress-bar {
            background-color: #f1f1f1;
        }
        &-content{
            & label {
                font-size: 15px;
                text-transform: capitalize;
            }
        }
    }
    &-spacing{
        @media #{$md}{
            padding-bottom: 70px;
        }
        @media #{$xs}{
            padding-bottom: 30px;
        }
    }
    // with underscor 
    &-area{
        @media #{$xs}{
            padding: 80px 0;
        }
    }
    &-item{
        @media #{$sm}{
            margin: 0 7px;
        }  
    }

}


.skil{
    &_wrap{
        & .skill_circle {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        border-radius: 50%;
            @media #{$xs}{
               width: 150px;
               height: 150px;
               margin: 0 10px;
               margin-bottom: 20px;
            }
            & p{
                font-size: 20px;
                margin: 0;
                color: #000;
                position: relative;
                z-index: 2;
                font-weight: 500;
                line-height: 1;
                @media #{$xs}{
                    font-size: 16px;
                }
            }
            &::after {
                content: "";
                position: absolute;
                width: 185px;
                height: 185px;
                background: #ffdb67;
                border-radius: 50%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                @media #{$xs}{
                    width: 140px;
                    height: 140px;
                }
            }
            & .number {
                position: relative;
                z-index: 10;
                font-size: 40px;
                font-weight: 600;
                letter-spacing: 1px;
                color: #000 !important;
                line-height: 1;
                @media #{$xs}{
                    font-size: 30px;
                }
            }
        }

    }
}




