@use '../../utils' as *;

.skill{
    &-title {
        font-size: 30px;
        font-weight: 600;
    }
    &-main {
        display: flex;
        justify-content: space-between;
    }
}
.skill-title-wrap{
    padding: 10px 20px;
    &::before{
        position: absolute;
        content: "";
        width: 3px;
        height: 100%;
        background-color: aqua;
        left: 0;
        top: 0;
    }
    & p{
        margin: 0;
    }
}
.skill-progress-content label {
    font-size: 15px;
    text-transform: capitalize;
}

.skill-progress {
    height: 3px;
    background-color: #000;
}
.skill-progress .progress-bar {
    background-color: #f1f1f1;
}





.skil_wrap .skill_circle {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
    & p{
        font-size: 20px;
        margin: 0;
        color: #000;
        position: relative;
        z-index: 2;
        font-weight: 500;
        line-height: 1;
    }
}

.skil_wrap .skill_circle::after {
    content: "";
    position: absolute;
    width: 185px;
    height: 185px;
    background: #ffdb67;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.skil_wrap .skill_circle .number {
    position: relative;
    z-index: 10;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #000 !important;
    line-height: 1;
}

