@use '../../utils' as *;
.testimonail{
    &__title {
        font-size: 35px;
        @media #{$lg,$md}{
            margin-bottom: 20px;
            font-size: 30px;
        }
        @media #{$xs}{
            margin-bottom: 20px;
            font-size: 24px;
        }
    }
    &__content{
        @media #{$lg,$md,$xs}{
          margin-bottom: 30px;
        }
        & p{
            font-size: 25px;
            font-family: var(--font-heading);
            font-weight: 500;
            line-height: 1.2; 
            @media #{$lg,$md}{
               font-size: 22px;
            }
            @media #{$xs}{
               font-size: 18px;
            }
        }
    }
    &__author{
        &-img{
            & img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
        }
        &-title{
            line-height: 1;
            margin-bottom: 7px;
        }
        &--content{
            text-align: start;
        }
    }
    &__icon{
        & i{
            color: aqua; 
        }
    }
    &-nav{
        opacity: 0;
        visibility: hidden;
        @include transition(.3s);
        &-active{
            &:hover .testimonail-nav{
                opacity: 1;
                visibility: visible;
            }
        }
    }
    &-title{
        &-wrap{
            @media #{$md,$xs}{
                padding-bottom: 60px;
            }
        }
    }
}

.testi_nav_button {
    width: 50px;
    height: 50px;
    background: aqua;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
    border: 0;
    line-height: 50px;
    position: absolute;
    top: 50%;
    left: -100px;
    transform: translateY(-50%);
    @include transition(.3s);
    @media #{$md}{
        position: inherit;
        transform: translateY(0);
    }
}
.testi_nav_button.swiper-button-disabled {
    opacity: 0;
    visibility: hidden;
}
.testi_next.testi_nav_button{
    left: auto;
    right: -100px;
}