@use '../../utils' as *;
.testimonail{
    &__title {
        font-size: 35px;
    }
    &__content{
        & p{
        font-size: 25px;
        font-family: var(--font-heading);
        font-weight: 500;
        line-height: 1.2; 
        }
    }
    &__author{
        &-img{
            & img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
        }
        &-title{
            line-height: 1;
            margin-bottom: 7px;
        }
    }
    &__icon{
        & i{
            color: aqua; 
        }
    }
    &-nav{
        opacity: 0;
        visibility: hidden;
        @include transition(.3s);
        &-active{
            &:hover .testimonail-nav{
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.testi_nav_button {
    width: 50px;
    height: 50px;
    background: aqua;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
    border: 0;
    line-height: 50px;
    position: absolute;
    top: 50%;
    left: -100px;
    transform: translateY(-50%);
    @include transition(.3s);
}
.testi_nav_button.swiper-button-disabled {
    opacity: 0;
    visibility: hidden;
}
.testi_next.testi_nav_button{
    left: auto;
    right: -100px;
}